# Core
torch
torchvision
numpy

# Atari
ale-py
gymnasium
gymnasium[atari]
autorom

# MiniGrid
minigrid

# Image Processing
opencv-python

# Logging
tensorboard

# Visualization
matplotlib

# Game Rendering
pygame

# Other
shimmy